<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491660955455-p55sui5img2vfoc85cqe1t57bbs3c34j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491660955455-p55sui5img2vfoc85cqe1t57bbs3c34j</string>
	<key>API_KEY</key>
	<string>AIzaSyD9MZ4nzPqCFkSWWw5jrYfgqS6wq3tt3wI</string>
	<key>GCM_SENDER_ID</key>
	<string>491660955455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appAdraForms</string>
	<key>PROJECT_ID</key>
	<string>clases-adra</string>
	<key>STORAGE_BUCKET</key>
	<string>clases-adra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491660955455:ios:52e0267c2b74056bf14d8a</string>
</dict>
</plist>